html, body
    height: 100%

body
    background: $light-grey
    font-family: $font-family
    line-height: $line-height

::selection
    background: $light-purple

h1
    font-size: $h1-fs

h2
    font-size: $h2-fs

h3
    font-size: $h6-fs
    color: $grey
    border-bottom: 1px solid $very-light-grey
    padding-bottom: $sm-space
    margin-bottom: $sm-space

h4
    font-size: $h4-fs

h5
    font-size: $h5-fs

h6
    color: $light-purple
    font-size: $h6-fs

a
    font-size: $base-font-size
    color: $yellow

#wrapper
    display: flex
    min-height: 100%
    margin: 0 auto
    overflow: hidden
    min-width: $wrapper-size

.POST
    background: $light-grey
    border: 24px solid $light-grey
    border-radius: 8px
    font-size: $base-font-size
    font-family: 'courier new'
    // padding: $md-space
    box-sizing: border-box
    width: 100%
    height: 300px
    overflow-y: scroll
    overflow-x: hidden
    margin: 0
    resize: none
    word-break: break-all


.POST, .GET, .PUT, .code
    font-family: "Courier New", monospace
    word-break: break-word
    font-size: $base-font-size

ol
    list-style: decimal
    margin: 18px

#description
    div
        div:first-child
            border-right: 1px solid $very-light-grey
            width: 60%
            padding-right: $md-space
            margin-right: $md-space
        div:nth-child(2)
            width: 40%

        div
            float: left

pre
    font-family: 'courier new'
    font-size: $base-font-size

.col-1
    width: $col-1

.col-2
    background: $white
    box-shadow: 4px 0 16px 0 rgba(0, 0, 0, .2)
    width: 252px

.col-3  
    width: $col-3

.col-4
    width: $col-4

.col-5
    width: $col-5

.col-6
    width: $col-6

.col-7
    width: $col-7

.col-8
    width: $col-8

.col-9
    width: $col-9

.col-10
    // border-top: 4px solid $yellow
    width: 100%

.col-11
    width: $col-11

.col-12
    width: $col-12

[class^="col-"]
    box-sizing: border-box
    float: left

#logo
    display: block
    margin: 0 auto
    padding: $md-space
    text-align: center

nav
    li a
        color: $dark-grey
        border-top-right-radius: 20px
        border-bottom-right-radius: 20px
        display: block
        font-size: 14px
        padding: $xs-space + 4 $sm-space
        margin-right: $sm-space
        text-decoration: none
        &:hover
            background: $very-light-grey
        &.selected, &.focus
            background: linear-gradient(to right, #fac423 0%, #fa8d5a 100%)
            // font-weight: bold

header
    background: $purple
    color: $white
    height: $header-space
    padding: $md-space

#particles-js
    position: absolute
    top: 0
    width: 100%
    height: $header-space
    z-index: 0

.col-10
    position: relative

section
    background: $white
    box-shadow: 4px 0 16px 0 rgba(0, 0, 0, .2)
    margin: 0 $grid-gutter-width * 2
    padding: $grid-gutter-width * 2
    border-radius: 16px

    &#description
        background: $white
        margin-top: -$xxxl-space * 1.5

.row
    display: flex
    margin: $grid-gutter-width
    overflow: hidden
    section
        float: left
        margin: $grid-gutter-width
        width: 50%

pre
    word-break: break-all

.inline-button-right
    float: right

button
    border: none
    font-size: $base-font-size / 1.2
    border-radius: 20px
    padding: $xs-space + 4 $md-space
    cursor: pointer

button
    &.btn-primary
        background: linear-gradient(to right, #fac423 0%, #fa8d5a 100%)
        color: $grey
        // font-weight: bold
        // text-shadow: 1px 1px 0 #d0d0d0
    &.btn-secondary
        border: 1px solid $yellow


button:focus, input:focus, .POST:focus, a:focus
    outline: 2px dotted $mid-grey