/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

p {
  font-size: 0.8rem; }

html, body {
  height: 100%; }

body {
  background: #f6f6f6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 0.8rem;
  line-height: 1.5; }

::selection {
  background: #9c97ac; }

h1 {
  font-size: 1.6218292236rem; }

h2 {
  font-size: 1.4416259766rem; }

h3, summary {
  font-size: 0.9rem;
  font-weight: bold;
  color: #404040;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 12px;
  margin-bottom: 12px; }

h4 {
  font-size: 1.1390625rem; }

h5 {
  font-size: 1.0125rem; }

h6 {
  color: #9c97ac;
  font-size: 0.9rem; }

p {
  font-size: 0.8rem; }

a {
  font-size: 0.8rem;
  color: #ec9a0d; }

#wrapper {
  display: flex;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
  min-width: 1170px; }

.col-2 {
  background: #fff;
  box-shadow: 4px 0 16px 0 rgba(0, 0, 0, 0.2);
  width: 240px;
  flex-shrink: 0; }

.col-10 {
  border-top: 4px solid #ec9a0d;
  flex-grow: 1; }

.POST {
  background: #f6f6f6;
  border: 24px solid #f6f6f6;
  border-radius: 8px;
  font-size: 0.8rem;
  font-family: "courier new";
  white-space: pre;
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  resize: none;
  word-break: break-all; }

.POST, .GET, .PUT, .code {
  font-family: "Courier New", monospace;
  word-break: break-word;
  font-size: 0.8rem; }

ol {
  list-style: decimal;
  margin: 18px; }

pre {
  font-family: "courier new";
  font-size: 0.8rem; }

[class^="col-"] {
  box-sizing: border-box;
  float: left; }

#logo {
  display: block;
  padding: 24px; }

nav {
  overflow-y: scroll;
  max-height: 100%; }
  nav li a {
    color: #404040;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: block;
    font-size: 0.8rem;
    padding: 7.5px 24px;
    margin-right: 12px;
    text-decoration: none; }
    nav li a:hover {
      background: #e0e0e0; }
    nav li a.active, nav li a.focus, nav li a:active {
      background: linear-gradient(to right, #fac423 0%, #fa8d5a 100%); }

header {
  background: #392f5a;
  color: #fff;
  height: 230.4px;
  padding: 24px;
  position: relative;
  z-index: -1; }

canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2; }

summary {
  cursor: pointer;
  margin-bottom: 0; }

details, section {
  background: #fff;
  box-shadow: 4px 0 16px 0 rgba(0, 0, 0, 0.2);
  margin: 0 24px;
  padding: 24px;
  border-radius: 16px; }

details {
  display: flex;
  margin-top: -172.8px;
  z-index: 10; }
  details p {
    margin-top: 12px; }

#playground {
  display: flex;
  padding-top: 24px;
  width: 100%; }
  #playground section {
    flex-grow: 0;
    width: 50%; }
    #playground section:nth-child(2) {
      margin-left: 0; }

pre {
  word-break: break-all; }

.inline-button-right {
  float: right; }

button {
  border: none;
  font-size: 0.8rem;
  border-radius: 20px;
  padding: 10px 24px;
  cursor: pointer; }
  button.btn-primary {
    background: linear-gradient(to right, #fac423 0%, #fa8d5a 100%);
    color: #404040; }
  button.btn-secondary {
    border: 1px solid #ec9a0d; }

button:focus, input:focus, .POST:focus, a:focus, summary:focus {
  outline: 2px dotted #a0a0a0; }

.error {
  color: #ff0000; }

/*# sourceMappingURL=bundle.css.map */
